<!doctype html>
<html ng-app="user-app">


<body ng-controller="UserController">

<form>

    <fieldset>
        <label>First name: <input type="text" ng-model="user.firstName"></label>
        <label>Last name: <input type="text" ng-model="user.lastName"></label>
        <label>Email: <input type="text" ng-model="user.email"></label>
    </fieldset>

    <button ng-click="saveUser()">Save</button>
    <button ng-click="deleteUser()">Delete</button>
    <button ng-click="newUser()">New User</button>
</form>

<div ng-repeat="user in users">
    <a ng-click="editUser(user)">{{user.firstName}} {{user.lastName}} {{user.email}}</a>
</div>

<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-resource.js"></script>
<!--<script src="js/controllers.js"></script>-->
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controller1.0.js"></script>

</body>

</html>